<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dreamron_College.Properties.Settings.DreamronDBv2ConnectionString"
            connectionString="Data Source=HARITHA;Initial Catalog=DreamronDBv2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Dreamron_College.Properties.Settings.DreamronDBConnectionString"
            connectionString="Data Source=DESKTOP-6C5AKRA;Initial Catalog=DreamronDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Dreamron_College.Properties.Settings.NewDreamronConnectionString"
            connectionString="Data Source=DESKTOP-6C5AKRA;Initial Catalog=NewDreamron;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Dreamron_College.Properties.Settings.NewDreamronConnectionString1"
            connectionString="Data Source=HARITHA;Initial Catalog=NewDreamron;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Dreamron_College.Properties.Settings.NewDreamronConnectionString2"
            connectionString="Data Source=DESKTOP-NV1D9GU;Initial Catalog=NewDreamron;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Dreamron_College.Properties.Settings.DreamronDBConnectionString1"
            connectionString="Data Source=DESKTOP-NV1D9GU;Initial Catalog=DreamronDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
